#logotipo{
    width:100px;    
    right:50px;
}

#title{
position: absolute;
width: 316px;
height: 69px;

font-family: 'Fauna One';
font-style: normal;
font-weight: 400px;/*espessura da fonte*/
font-size: 40px;
line-height: 49px; /*altura da linha*/
text-align: center;
color: #ffffff;
margin-top: 18px;

}

.header{
 background:#D7B5FF;   
 position: fixed;
 right:0px;    
 left:0px;
}

.nav-item{
   margin-top: 18px; 


font-family: 'Kotta One';
font-style: normal;
font-weight: 400; /*espessura da fonte:*/
font-size: 24px;
line-height: 50px; /*altura da linha*/
color: #000000;
}

.nav-item a:hover{ /*deixar a borda flutuante*/
    font-size: 20px;
    padding: 0px;
    border-radius: 4px; /*raio da borda:*/
    border-top: 1px solid #7b2596; /*Borda em cima */
    border-bottom: 1px solid #7b2596; /*borda em baixo*/
    outline: none; /*contorno: nenhum;*/
    text-decoration:none; /*decoração de texto: nenhuma;*/
    color: #a588e9;
}
#footer{
    background:#D7B5FF;
    text-align: center;
}

#vangogh{
    color:rgb(75, 29, 77);
    background-color: #c491ff;
    margin-top: 100px;
}
#Tarsila{
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

#leonardo{
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

#VikMuniz {
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

#h3{
    font-family: 'Fauna One';
    background-color: #8630e9; 
    color: #000;
}

.row form{
    margin-top: 70px;
}

#nameAutor-error{
    display: none;
}

#obra-error{
    display: none;
}
#descricao-error{
    display:none;
}
#urlImagem-error{
    display:none;
}

#button{
color: #8630e9;
margin:auto;
display:block;
width:500px;
border-color:purple;  
}

/*.main-nav li a:hover{
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #154372;
    outline: none;
    text-decoration:none;
    color: #154372;
}*/