#logotipo{
    width:100px;    
    right:50px;
}

#title{
font-family: 'Fauna One';
font-style: normal;
font-weight: 400px;/*espessura da fonte*/
font-size: 40px;
line-height: 49px; /*altura da linha*/
text-align: right;
color: #ffffff;
margin-top: 18px;
letter-spacing:4px;

}

.navbar{
 background:#D7B5FF;   
 position: fixed;
 right:0px;    
 left:0px;
} 

#footer{
    background:#D7B5FF;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

#vangogh{
    color:rgb(75, 29, 77);
    background-color: #c491ff;
    margin-top: 150px;
}
#Tarsila{
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

#leonardo{
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

#VikMuniz {
    color:rgb(75, 29, 77);
    background-color: #c491ff;    
    text-align: center;
    margin-top:4px;
}

.row form{
    margin-top: 100px;
}

#nameAutor-error{
    display: none;
}

#obra-error{
    display: none;
}
#descricao-error{
    display:none;
}
#urlImagem-error{
    display:none;
}

#button{
color: #8630e9;
margin:auto;
display:block;
width:400px;
border-color:purple;  
}

.offcanvas-body{
    background-color: #c491ff;
}



/*.main-nav li a:hover{
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #154372;
    outline: none;
    text-decoration:none;
    color: #154372;
}*/